
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myInventaireLabel" data-translate="webstockerApp.inventaire.home.createOrEditLabel">Create or edit a Inventaire</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.inventaire.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.inventaire.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="webstockerApp.inventaire.dateInventaire" for="field_dateInventaire">Date Inventaire</label>
                <div class="input-group">
                    <input id="field_dateInventaire" type="text" class="form-control" name="dateInventaire" uib-datepicker-popup="{{dateformat}}" ng-model="vm.inventaire.dateInventaire" is-open="vm.datePickerOpenStatus.dateInventaire"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateInventaire')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="webstockerApp.inventaire.stockFinalTheorique" for="field_stockFinalTheorique">Stock Final Theorique</label>
            <input type="number" class="form-control" name="stockFinalTheorique" id="field_stockFinalTheorique"
                    ng-model="vm.inventaire.stockFinalTheorique"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="webstockerApp.inventaire.stockReel" for="field_stockReel">Stock Reel</label>
            <input type="number" class="form-control" name="stockReel" id="field_stockReel"
                    ng-model="vm.inventaire.stockReel"
                    />
        </div>

        <div class="form-group">
            <label data-translate="webstockerApp.inventaire.produit" for="field_produit">Produit</label>
            <select class="form-control" id="field_produit" name="produit" ng-model="vm.inventaire.produit" ng-options="produit as produit.nomProduit for produit in vm.produits track by produit.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="webstockerApp.inventaire.magasin" for="field_magasin">Magasin</label>
            <select class="form-control" id="field_magasin" name="magasin" ng-model="vm.inventaire.magasin" ng-options="magasin as magasin.nomMagasin for magasin in vm.magasins track by magasin.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
