
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLivraisonLabel" translate="webstockerApp.livraison.home.createOrEditLabel">Create or edit a Livraison</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.livraison.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.livraison.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="webstockerApp.livraison.dateLivraison" for="field_dateLivraison">Date Livraison</label>
                <div class="input-group">
                    <input id="field_dateLivraison" type="text" class="form-control" name="dateLivraison" uib-datepicker-popup="{{dateformat}}" ng-model="vm.livraison.dateLivraison" is-open="vm.datePickerOpenStatus.dateLivraison"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateLivraison')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.dateLivraison.$invalid">
                <p class="help-block"
                    ng-show="editForm.dateLivraison.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="webstockerApp.livraison.descriptionLivraison" for="field_descriptionLivraison">Description Livraison</label>
            <input type="text" class="form-control" name="descriptionLivraison" id="field_descriptionLivraison"
                    ng-model="vm.livraison.descriptionLivraison"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="webstockerApp.livraison.numeroLivraison" for="field_numeroLivraison">Numero Livraison</label>
            <input type="text" class="form-control" name="numeroLivraison" id="field_numeroLivraison"
                    ng-model="vm.livraison.numeroLivraison"
                    required />
            <div ng-show="editForm.numeroLivraison.$invalid">
                <p class="help-block"
                    ng-show="editForm.numeroLivraison.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="webstockerApp.livraison.valeurLivraison" for="field_valeurLivraison">Valeur Livraison</label>
            <input type="number" class="form-control" name="valeurLivraison" id="field_valeurLivraison"
                    ng-model="vm.livraison.valeurLivraison"
                    required />
            <div ng-show="editForm.valeurLivraison.$invalid">
                <p class="help-block"
                    ng-show="editForm.valeurLivraison.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.valeurLivraison.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="webstockerApp.livraison.fraisTest" for="field_fraisTest">Frais Test</label>
            <input type="number" class="form-control" name="fraisTest" id="field_fraisTest"
                    ng-model="vm.livraison.fraisTest"
                    required />
            <div ng-show="editForm.fraisTest.$invalid">
                <p class="help-block"
                    ng-show="editForm.fraisTest.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.fraisTest.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="webstockerApp.livraison.fraisTransit" for="field_fraisTransit">Frais Transit</label>
            <input type="number" class="form-control" name="fraisTransit" id="field_fraisTransit"
                    ng-model="vm.livraison.fraisTransit"
                    required />
            <div ng-show="editForm.fraisTransit.$invalid">
                <p class="help-block"
                    ng-show="editForm.fraisTransit.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.fraisTransit.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="webstockerApp.livraison.fraisAssuranceLocale" for="field_fraisAssuranceLocale">Frais Assurance Locale</label>
            <input type="number" class="form-control" name="fraisAssuranceLocale" id="field_fraisAssuranceLocale"
                    ng-model="vm.livraison.fraisAssuranceLocale"
                    required />
            <div ng-show="editForm.fraisAssuranceLocale.$invalid">
                <p class="help-block"
                    ng-show="editForm.fraisAssuranceLocale.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.fraisAssuranceLocale.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="webstockerApp.livraison.fraisManutention" for="field_fraisManutention">Frais Manutention</label>
            <input type="number" class="form-control" name="fraisManutention" id="field_fraisManutention"
                    ng-model="vm.livraison.fraisManutention"
                    required />
            <div ng-show="editForm.fraisManutention.$invalid">
                <p class="help-block"
                    ng-show="editForm.fraisManutention.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.fraisManutention.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="webstockerApp.livraison.valeurLivraisonDevise" for="field_valeurLivraisonDevise">Valeur Livraison Devise</label>
            <input type="number" class="form-control" name="valeurLivraisonDevise" id="field_valeurLivraisonDevise"
                    ng-model="vm.livraison.valeurLivraisonDevise"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="webstockerApp.livraison.devise" for="field_devise">Devise</label>
            <input type="text" class="form-control" name="devise" id="field_devise"
                    ng-model="vm.livraison.devise"
                     />
        </div>

        <div class="form-group">
            <label translate="webstockerApp.livraison.magasin" for="field_magasin">Magasin</label>
            <select class="form-control" id="field_magasin" name="magasin" ng-model="vm.livraison.magasin" ng-options="magasin as magasin.nomMagasin for magasin in vm.magasins track by magasin.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="webstockerApp.livraison.commande" for="field_commande">Commande</label>
            <select class="form-control" id="field_commande" name="commande" ng-model="vm.livraison.commande" ng-options="commande as commande.numeroCommande for commande in vm.commandes track by commande.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
