<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorator="layout">
<head> 
    <title>Web stocker</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>  
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>       
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery-1.11.3.min.js}"></script>
</head>
<body>
    
    <p th:text="'Hello, ' + ${name} + '!'" />
    <p th:text="'Hello, ' + ${allCustomers} + '!'" />
    <br/>
    <span style="color:background " th:text="${name}"  />
    <section class="col-lg-10" layout:fragment="content">
        <h2> données enregistrées </h2>
    </section>

</body>
</html>
